.form{
    width: 25vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.errorMsg{
    color: red;
    font-size: $m-size;
}

.formButtonContainer{
    display: flex;
    justify-content: center;
    margin-top: $xl-size;
}

.css-2b097c-container{
    margin-bottom: 1.6rem;
}

.formButton{
    // text-decoration: none;
    // border-radius: 35%;
    // background-color: lighten($dark-blue, 17%);
    // color: white;
    // padding: 1.2rem $l-size;
    // margin-bottom: $s-size;

        font-family: 'Lato', sans-serif;
        border: solid lighten($dark-blue, 17%) 0.1rem;
        color: white;
        font-weight: 600;
        cursor: pointer;
        border-radius: 1rem;
        padding: $s-size $m-size;
        background-color: lighten($dark-blue, 17%);
        width: fit-content;
        margin-bottom: $s-size;
        text-decoration: none;
    
}

.formButton:hover{
    background-color: darken($dark-blue, 5%);
}

.formFrame{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: $m-size $xxl-size;
    margin: $m-size 0;
}

.fieldsGroup{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.formContainer{
    width: 100%;
    display: flex;
    justify-content: center;
}

.infoContainer {
    display: flex;
}


.test{
    min-width:42%;
}

.subtitle{
    color: lighten($dark-blue, 17%);
}