.page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.body{
    display: flex;
    background-color: rgb(241, 244, 246);
    min-height: 100vh;
    
}

.bodyVisitor{
    display: flex;
    background-color: rgb(241, 244, 246);
    min-height: 85vh;
}

.mainContent {
    position:relative;
    display: flex;
    justify-content: center;
    width: 79%;
    margin: $m-size $l-size;
    left: 17%;
}

.mainContentVisitor {
    position:relative;
    display: flex;
    justify-content: center;
    width:100%;
}

.logo{
    margin-top: $s-size;
}