.page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.mainContent {
    position:relative;
    display: flex;
    justify-content: center;
    align-items:center;
    height: 87vh;
}