.sidenav{
    display: flex;
    flex-direction: column;
    color: $dark-blue;
    padding: $m-size 0;
    background-color: white;
    width: 17%;
    height: 100%;
    position: fixed;
    z-index: 10;
    padding: 0;
}

.sidenavLink{
    text-decoration: none !important;
    color: lighten($dark-blue, 17%);
    font-weight: bold;
    padding: $m-size;
}

.sidenavLink:hover{
    background-color: darken($dark-blue, 5%);
    color:azure;
    transition: .35s ease color;
    &:before{
        transition: .35s ease color;
    }
}

.settings{
    display: none;
    background-color: White;
    top: 0;
}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

.Settings:hover{
    background-color: white;
    color: lighten($dark-blue, 20%);
    .settings{
        display: flex;
        flex-direction: column;
        z-index:50;
        left: 2.5em;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s;
    }

    .sidenavLink:hover{
        background-color: darken($dark-blue, 5%);

    color:azure;
    transition: .35s ease color;
    &:before{
        transition: .35s ease color;
    }
    }
}

.newOrder{
    align-self: center;
    margin: $m-size 0;
    background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
    border-radius: $border-m-size;
    box-sizing: border-box;
    color: #00a84f;
    display: block;
    height: $xxxl-size;
    font-size: $xl-size;
    padding: $xs-size;
    position: relative;
    text-decoration: none;
    width: 6em;
    z-index: 2;
}


.newOrder .newOrderSpan{
    align-items: center;
  background: white;
  border-radius: $border-m-size;
  display: flex;
  justify-content: center;
  height: 22%;
  transition: 0.5s ease background;
}

.newOrder:hover .newOrderSpan{
    background: transparent;
}

.activatedPage{
    background-color: darken($dark-blue, 5%);
    color:azure;
}

.navbarIcon{
    margin-right: 15px;
    
}