.step-progress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
    width: 60%;
    height:95vh;
}

.stepContainer {
    height: 100%;
    margin-bottom: 0.5em;
}

.counter{
    justify-content: center;
}

.stepData {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto 1em;
}

.stepContent{
    align-self: start;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    overflow: scroll;
}

.step1Content {
    margin-top: 1em;
}

.step3Content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.itemSelector {
    margin-bottom: 1em;
}

.itemSelectorForm{
    margin-bottom: 0.5em;
    width: 100%;
}

.accordionQtyField {
    width:40%;
    text-align: center;
    align-self: center;
}

.stepNavigation {
    display: flex;
    flex-direction: row;
    width: 100%;
    // justify-content: space-between;
    position: relative;
    padding: 1em;
}

.nextStep {
    position: absolute;
    right: 1em;
    bottom: 1em;
    font-family: 'Lato', sans-serif;
    border: solid lighten($dark-blue, 30%) 0.1rem;
    color: lighten($dark-blue, 30%);
    font-weight: 600;
    cursor: pointer;
    border-radius: 1rem;
    padding: $s-size $m-size;
    background-color: white;
    width: fit-content;
    margin-bottom: $s-size;
}

.nextStep:disabled{
    font-family: 'Lato', sans-serif;
    border: solid lighten($dark-blue, 50%) 0.1rem;
    color: lighten($dark-blue, 50%);
    font-weight: 600;
    cursor:not-allowed;
    border-radius: 1rem;
    padding: $s-size $m-size;
    width: fit-content;
    margin-bottom: $s-size;
}

.previousStep {
    font-family: 'Lato', sans-serif;
    border: solid lighten($dark-blue, 30%) 0.1rem;
    color: lighten($dark-blue, 30%);
    font-weight: 600;
    cursor: pointer;
    border-radius: 1rem;
    padding: $s-size $m-size;
    background-color: white;
    width: fit-content;
    margin-bottom: $s-size;
}

.previousStep:disabled{
    font-family: 'Lato', sans-serif;
    border: solid lighten($dark-blue, 50%) 0.1rem;
    color: lighten($dark-blue, 50%);
    font-weight: 600;
    cursor:not-allowed;
    border-radius: 1rem;
    padding: $s-size $m-size;
    width: fit-content;
    margin-bottom: $s-size;
}

.newOrderForm {
    height: 100%;
    line-height: 2em;
    width:100%;
}