.bakeryImg {
    width: 100%;
    object-fit: cover;
    height: 89.9vh;
    opacity: 60%;
}

.graph1{
    position: absolute;
    width: 50vw;
    height: 40vh;
    opacity: 80%;
    left: 50px;
    top: 40px;
}

// .graph2{
//     position: absolute;
//     width: 40vw;
//     height: 40vh;
//     opacity: 80%;
//     right: 20px;
//     bottom: 20px;
// }

.graph2{
    position: absolute;
    width: 50vw;
    height: 40vh;
    opacity: 80%;
    left: 50px;
    bottom: 20px;
}