.usersMainContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top: $xl-size;
    width:100%;
}

.newUserModal {
    width:50vw;
    height: 20vw;
}

.newUserEmail{
    text-align: center;
}