// Colors
$purple-red: #845460;
$purple-red-darker: #f1dfd9;
$off-white: #EAD3CB;
$azure: #BDC7C9;
$dark-blue: #2B4F60;

// Text sizes
$xs-size: 0.4rem;
$s-size: 0.8rem;
$m-size: 1.6rem;
$l-size: 2.2rem;
$xl-size: 3.2rem;
$xxl-size: 4rem;
$xxxl-size: 4.9rem;

// Borders
$border-s-size: 1rem;
$border-m-size: 3rem;