<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="css/reset.css">

    <meta name="description" content="Webpage description goes here" />
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">


    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Playball&family=Spartan&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/cssAdminPage.css">
</head>

<body style="background-color: {{bgColor}};color: {{textColor}}">
    <main id="root">
        <section class="container">
            <header>
                <div class="container title">
                    <img class="headerImg" src="media/bakery_dining_white_24dp.png" />
                    <h1>{{title}}</h1>
                </div>
            </header>


            <article>
                <table id='leadsTable'>
                    <th>
                    <td className='tableHeader'> Date Created
                        <img src="media/arrow_down_black_24dp.png" onclick="getSqlLeads('created', 'asc')" />
                        <img src="media/arrow_up_black_24dp.png" onclick="getSqlLeads('created', 'desc')" />
                    </td>
                    <td className="tableHeader">Name
                        <img src="media/arrow_down_black_24dp.png" onclick="getSqlLeads('user_name', 'asc')" />
                        <img src="media/arrow_up_black_24dp.png" onclick="getSqlLeads('user_name', 'desc')" />
                    </td>
                    <td className="tableHeader">Email
                        <img src="media/arrow_down_black_24dp.png" onclick="getSqlLeads('user_email', 'asc')" />
                        <img src="media/arrow_up_black_24dp.png" onclick="getSqlLeads('user_email', 'desc')" />
                    </td>
                    <td className="tableHeader">Phone
                        <img src="media/arrow_down_black_24dp.png" onclick="getSqlLeads('user_phone', 'asc')" />
                        <img src="media/arrow_up_black_24dp.png" onclick="getSqlLeads('user_phone', 'desc')" />
                    </td>
                    <td className="tableHeader">Status
                        <img src="media/arrow_down_black_24dp.png" onclick="getSqlLeads('status', 'asc')" />
                        <img src="media/arrow_up_black_24dp.png" onclick="getSqlLeads('status', 'desc')" />
                    </td>
                    </th>
                </table>
            </article>
            <footer class="flex row" style="background-color: {{footerBgColor}}; color: {{footerTextColor}}">
                <p>{{footerAddress}}</p>
                <p>{{footerEmail}}</p>
                <p>{{footerTel}}</p>
            </footer>
        </section>
    </main>
</body>
<script src="scripts/test.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js"
    integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="scripts/axios.js"></script>
<script src="scripts/leads.js"></script>

</html>